In [2]:
import numpy as np
import pandas as pd
from characters.qingque import Qingque
from utils.arena import Arena
import random as rand

In [3]:
arena = Arena()
qq = Qingque(arena = arena)

In [4]:
qq.sp_table

,0-0-0,1-0-0,1-1-0,1-1-1,2-0-0,2-1-0,2-1-1,2-2-0,3-0-0,3-1-0,4-0-0
1,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,0.0
2,1.962963,1.962963,1.925926,1.888889,1.740741,1.703704,1.666667,1.555556,1.296296,1.296296,0.0
3,2.662551,2.662551,2.485597,2.358025,2.144033,2.053498,1.987654,1.814815,1.427984,1.427984,0.0
4,3.014632,3.014632,2.7508,2.57476,2.331504,2.213077,2.133059,1.931413,1.486511,1.486511,0.0
5,3.175685,3.175685,2.870497,2.672001,2.415739,2.284459,2.197988,1.983387,1.512523,1.512523,0.0
6,3.247772,3.247772,2.923899,2.715321,2.453279,2.316235,2.226879,2.006503,1.524085,1.524085,0.0
7,3.279867,3.279867,2.947656,2.734586,2.469974,2.330363,2.239724,2.016779,1.529223,1.529223,0.0

In [5]:
qq.success_table

,0-0-0,1-0-0,1-1-0,1-1-1,2-0-0,2-1-0,2-1-1,2-2-0,3-0-0,3-1-0,4-0-0
1,0.037037,0.037037,0.074074,0.111111,0.259259,0.296296,0.333333,0.444444,0.703704,0.703704,1.0
2,0.263374,0.263374,0.366255,0.419753,0.337449,0.353909,0.345679,0.296296,0.164609,0.164609,0.0
3,0.347508,0.347508,0.294467,0.252401,0.215821,0.190215,0.175583,0.142661,0.07316,0.07316,0.0
4,0.191028,0.191028,0.145506,0.119494,0.103236,0.088198,0.080476,0.064624,0.032515,0.032515,0.0
5,0.088966,0.088966,0.066295,0.053921,0.046696,0.039606,0.036038,0.028857,0.014451,0.014451,0.0
6,0.039992,0.039992,0.029645,0.024055,0.020844,0.017648,0.016047,0.012841,0.006423,0.006423,0.0
7,0.017795,0.017824,0.013196,0.010701,0.009274,0.007848,0.007135,0.005709,0.002855,0.002855,0.0

In [6]:
qq.fail_table

,0-0-0,1-0-0,1-1-0,1-1-1,2-0-0,2-1-0,2-1-1,2-2-0,3-0-0,3-1-0,4-0-0
1,0.962963,0.962963,0.925926,0.888889,0.740741,0.703704,0.666667,0.555556,0.296296,0.296296,0.0
2,0.699588,0.699588,0.559671,0.469136,0.403292,0.349794,0.320988,0.259259,0.131687,0.131687,0.0
3,0.35208,0.35208,0.265203,0.216735,0.187471,0.159579,0.145405,0.116598,0.058528,0.058528,0.0
4,0.161053,0.161053,0.119697,0.097241,0.084235,0.071381,0.064929,0.051974,0.026012,0.026012,0.0
5,0.072087,0.072087,0.053402,0.04332,0.037539,0.031776,0.028891,0.023116,0.011561,0.011561,0.0
6,0.032095,0.032095,0.023757,0.019265,0.016695,0.014128,0.012844,0.010276,0.005138,0.005138,0.0
7,0.0143,0.014271,0.010561,0.008563,0.007421,0.00628,0.005709,0.004567,0.002284,0.002284,0.0

In [7]:
qq.state_table

,0-0-0,1-0-0,1-1-0,1-1-1,2-0-0,2-1-0,2-1-1,2-2-0,3-0-0,3-1-0,4-0-0
Tiles Drawn,,,,,,,,,,,
1,0.0,1.0,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
2,0.0,0.0,0.67,0.00,0.33,0.00,0.00,0.00,0.00,0.00,0.00
3,0.0,0.0,0.00,0.22,0.00,0.67,0.00,0.00,0.11,0.00,0.00
4,0.0,0.0,0.00,0.00,0.00,0.00,0.44,0.22,0.00,0.30,0.04
5,0.0,0.0,0.00,0.00,0.00,0.00,0.00,0.37,0.00,0.49,0.14
6,0.0,0.0,0.00,0.00,0.00,0.00,0.00,0.12,0.00,0.58,0.30
7,0.0,0.0,0.00,0.00,0.00,0.00,0.00,0.04,0.00,0.47,0.49
8,0.0,0.0,0.00,0.00,0.00,0.00,0.00,0.01,0.00,0.34,0.65
9,0.0,0.0,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.23,0.76
10,0.0,0.0,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.16,0.84
11,0.0,0.0,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.11,0.89
12,0.0,0.0,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.07,0.93
13,0.0,0.0,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.05,0.95
14,0.0,0.0,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.03,0.97
15,0.0,0.0,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.02,0.98

In [8]:
qq.check_hh(5,1)
print(f"Probability of Success = {qq.success_chance}")
print(f"Likely multiplier is {qq.likely_multiplier}")
print(f"Average multiplier is {qq.average_multiplier}")
print(qq.success_vector)

Probability of Success = 0.927913
Likely multiplier is 3.175685
Average multiplier is 2.815251
0-0-0         0.0
1-0-0    0.927913
1-1-0         0.0
1-1-1         0.0
2-0-0         0.0
2-1-0         0.0
2-1-1         0.0
2-2-0         0.0
3-0-0         0.0
3-1-0         0.0
4-0-0         0.0
Name: 1, dtype: object

In [9]:
qq.sp_table

,0-0-0,1-0-0,1-1-0,1-1-1,2-0-0,2-1-0,2-1-1,2-2-0,3-0-0,3-1-0,4-0-0
1,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,0.0
2,1.962963,1.962963,1.925926,1.888889,1.740741,1.703704,1.666667,1.555556,1.296296,1.296296,0.0
3,2.662551,2.662551,2.485597,2.358025,2.144033,2.053498,1.987654,1.814815,1.427984,1.427984,0.0
4,3.014632,3.014632,2.7508,2.57476,2.331504,2.213077,2.133059,1.931413,1.486511,1.486511,0.0
5,3.175685,3.175685,2.870497,2.672001,2.415739,2.284459,2.197988,1.983387,1.512523,1.512523,0.0
6,3.247772,3.247772,2.923899,2.715321,2.453279,2.316235,2.226879,2.006503,1.524085,1.524085,0.0
7,3.279867,3.279867,2.947656,2.734586,2.469974,2.330363,2.239724,2.016779,1.529223,1.529223,0.0

In [10]:
qq.success_table.iloc[0].copy() *1 + qq.success_table.iloc[1].copy() *2

0-0-0    0.563785
1-0-0    0.563785
1-1-0    0.806584
1-1-1    0.950617
2-0-0    0.934157
2-1-0    1.004114
2-1-1    1.024691
2-2-0    1.037036
3-0-0    1.032922
3-1-0    1.032922
4-0-0         1.0
dtype: object

In [11]:
qq.hidden_hand

True

In [12]:
qq.threshold

0.7

In [13]:
qq.success_chance

0.927913

# Hand Statistics

In [14]:
def hand_3_1_0(draws):
    pass

## 3-1-0

In [18]:
lst = []
draws = 0
while len(lst)<1000000:
    draws += 1
    x = rand.randint(1,3)
    y = rand.randint(1,3)
    if x == 1 or y == 1 or draws == 7:
        lst.append(draws)
        draws = 0
np.mean(lst)
np.std(lst)

1.1645099533584933

In [19]:
np.mean(lst)

1.791977

In [17]:
np.std(lst)

0.4968208787520912